In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('autos (1).csv',encoding='latin-1')

In [3]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [5]:
df.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

In [6]:
def mode(x):
    return x.mode()[0]

In [7]:
def fillNan(grouped_df,groupby_df,groupby_list,grouped_list):
    for i in range(len(grouped_df)):
        if grouped_df[i] == 'Nan':
            for m,n in zip(groupby_list,grouped_list):
                if groupby_df[i] == m:
                    grouped_df[i] = n

In [8]:
vehicleType_df = pd.DataFrame(df.groupby(['brand'])['vehicleType'].agg(mode))

In [9]:
vehicleType_df = vehicleType_df.reset_index()

In [10]:
vehicleType_brand_list = vehicleType_df['brand']
vehicleType_list = vehicleType_df['vehicleType']

In [11]:
df['vehicleType'].fillna('Nan', inplace = True)

In [12]:
fillNan(df['vehicleType'],df['brand'],vehicleType_brand_list,vehicleType_list)

C:\Users\Welcome\AppData\Local\Temp\ipykernel_19840\3140779130.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_df[i] = n

In [13]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,limousine,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [14]:
gearbox_df = pd.DataFrame(df.groupby(['brand'])['gearbox'].agg(mode))

In [15]:
gearbox_df = gearbox_df.reset_index()

In [16]:
gearbox_brand_list = gearbox_df['brand']
gearbox_list = gearbox_df['gearbox']

In [17]:
df['gearbox'].fillna('Nan', inplace = True)

In [18]:
fillNan(df['gearbox'],df['brand'],gearbox_brand_list,gearbox_list)

C:\Users\Welcome\AppData\Local\Temp\ipykernel_19840\3140779130.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_df[i] = n

In [19]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,limousine,2005,manuell,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [20]:
df = df.drop(df[df['brand'] == 'sonstige_autos'].index)

In [21]:
df.reset_index(drop=True, inplace=True)

In [22]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367541,2016-03-21 09:50:58,Mitsubishi_Cold,privat,Angebot,0,control,limousine,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
367542,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
367543,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
367544,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
367545,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [23]:
model_df = pd.DataFrame(df.groupby(['brand'])['model'].agg(mode))

In [24]:
model_df = model_df.reset_index()

In [25]:
model_brand_list = model_df['brand']
model_list = model_df['model']

In [26]:
df['model'].fillna('Nan', inplace = True)

In [27]:
fillNan(df['model'],df['brand'],model_brand_list,model_list)

C:\Users\Welcome\AppData\Local\Temp\ipykernel_19840\3140779130.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_df[i] = n

In [28]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,a4,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367541,2016-03-21 09:50:58,Mitsubishi_Cold,privat,Angebot,0,control,limousine,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
367542,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
367543,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
367544,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
367545,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [29]:
notRepairedDamage_df = pd.DataFrame(df.groupby(['brand'])['notRepairedDamage'].agg(pd.Series.mode))

In [30]:
notRepairedDamage_df = notRepairedDamage_df.reset_index()

In [31]:
notRepairedDamage_brand_list = notRepairedDamage_df['brand']
notRepairedDamage_list = notRepairedDamage_df['notRepairedDamage']

In [32]:
df['notRepairedDamage'].fillna('Nan', inplace = True)

In [33]:
fillNan(df['notRepairedDamage'],df['brand'],notRepairedDamage_brand_list,notRepairedDamage_list)

C:\Users\Welcome\AppData\Local\Temp\ipykernel_19840\3140779130.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_df[i] = n

In [34]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,a4,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367541,2016-03-21 09:50:58,Mitsubishi_Cold,privat,Angebot,0,control,limousine,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
367542,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
367543,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
367544,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
367545,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [35]:
fuelType_df = pd.DataFrame(df.groupby(['model'])['fuelType'].agg(mode))

In [36]:
fuelType_df = fuelType_df.reset_index()

In [37]:
fuelType_model_list = fuelType_df['model']
fuel_list = fuelType_df['fuelType']

In [38]:
df['fuelType'].fillna('Nan', inplace = True)

In [39]:
fillNan(df['fuelType'],df['model'],fuelType_model_list,fuel_list)

C:\Users\Welcome\AppData\Local\Temp\ipykernel_19840\3140779130.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_df[i] = n

In [40]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,a4,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367541,2016-03-21 09:50:58,Mitsubishi_Cold,privat,Angebot,0,control,limousine,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
367542,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
367543,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
367544,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
367545,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [41]:
df.isnull().sum()

dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [42]:
df['dateCrawled'] = pd.to_datetime(df['dateCrawled'])

In [43]:
df['dateCreated'] = pd.to_datetime(df['dateCreated'])

In [44]:
df['lastSeen'] = pd.to_datetime(df['lastSeen'])

In [45]:
df['yearOfRegistration'].unique()

array([1993, 2011, 2004, 2001, 2008, 1995, 1980, 2014, 1998, 2005, 1910,
       2016, 2007, 2009, 2002, 2018, 1997, 1990, 2017, 1981, 2003, 1994,
       1991, 1984, 2006, 1999, 2012, 2010, 2000, 1992, 2013, 1996, 1985,
       1989, 2015, 1968, 1982, 1976, 1983, 1959, 1973, 1111, 1969, 1971,
       1987, 1986, 1988, 1967, 1970, 1965, 1945, 1974, 1979, 1955, 1978,
       1972, 1977, 1961, 1960, 1966, 1975, 1937, 1963, 1936, 5000, 1954,
       1956, 1000, 1962, 9999, 1500, 2200, 1964, 1951, 3000, 2066, 1949,
       1940, 2019, 1800, 1953, 1957, 1234, 1958, 8000, 1941, 9000, 2900,
       5900, 5911, 1933, 1400, 1950, 4000, 1948, 1952, 1200, 8500, 1932,
       1927, 1931, 3700, 1942, 1935, 6500, 1923, 2290, 2500, 1930, 1001,
       6200, 7000, 1929, 1943, 1947, 1934, 1938, 1688, 6000, 2800, 1928,
       7500, 1919, 5555, 5600, 1939, 1039, 1300, 2222, 4500, 1602, 7800,
       9229, 7100, 8200, 1600], dtype=int64)

In [46]:
df['yearOfRegistration'].where(((df['yearOfRegistration'] < 2023) & (df['yearOfRegistration'] > 1900)),inplace = True)

In [47]:
df['yearOfRegistration'].fillna(df['yearOfRegistration'].mode()[0] , inplace = True)

In [48]:
df['yearOfRegistration'] = df['yearOfRegistration'].astype('int64')

In [49]:
df['monthOfRegistration'].unique()

array([ 0,  5,  8,  6,  7, 10, 12, 11,  2,  3,  1,  4,  9], dtype=int64)

In [50]:
df['monthOfRegistration'].where(((df['monthOfRegistration'] < 13) & (df['monthOfRegistration'] > 0)),inplace = True)

In [51]:
monthOfRegistration_df = pd.DataFrame(df.groupby(['yearOfRegistration'])['monthOfRegistration'].agg(mode))

In [52]:
monthOfRegistration_df = monthOfRegistration_df.reset_index()

In [53]:
yearOfRegistration_list = monthOfRegistration_df['yearOfRegistration']
monthOfRegistration_list = monthOfRegistration_df['monthOfRegistration']

In [54]:
df['monthOfRegistration'].fillna('Nan', inplace = True)

In [55]:
fillNan(df['monthOfRegistration'],df['yearOfRegistration'],yearOfRegistration_list,monthOfRegistration_list)

In [56]:
df['monthOfRegistration'] = df['monthOfRegistration'].astype('int64')

In [57]:
df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [58]:
object_columns_list = ['name','seller', 'offerType', 'abtest','vehicleType', 'gearbox',
                       'model', 'fuelType', 'brand','notRepairedDamage']

In [59]:
for i in object_columns_list:
    df[i] = df[i].str.capitalize()

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367546 entries, 0 to 367545
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          367546 non-null  datetime64[ns]
 1   name                 367546 non-null  object
 2   seller               367546 non-null  object
 3   offerType            367546 non-null  object
 4   price                367546 non-null  int64
 5   abtest               367546 non-null  object
 6   vehicleType          367546 non-null  object
 7   yearOfRegistration   367546 non-null  int64
 8   gearbox              367546 non-null  object
 9   powerPS              367546 non-null  int64
 10  model                367546 non-null  object
 11  kilometer            367546 non-null  int64
 12  monthOfRegistration  367546 non-null  int64
 13  fuelType             367546 non-null  object
 14  brand                367546 non-null  object
 15  notRepairedDamage    367546 non-null  object
 16  dateCreated          367546 non-null  datetime64[ns]
 17  nrOfPictures         367546 non-null  int64
 18  postalCode           367546 non-null  int64
 19  lastSeen             367546 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(7), object(10)
memory usage: 56.1+ MB

In [61]:
df.loc[df.duplicated(keep="first"),:]

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
177499,2016-03-08 18:42:48,Mercedes_benz_clk_coupe_230_kompressor_sport,Privat,Angebot,1799,Test,Coupe,1999,Automatik,193,Clk,20000,7,Benzin,Mercedes_benz,Nein,2016-03-08,0,89518,2016-03-09 09:46:57
239936,2016-03-28 00:56:10,Suzuki_ignis,Privat,Angebot,1000,Control,Kleinwagen,2002,Manuell,83,Andere,150000,1,Benzin,Suzuki,Nein,2016-03-28,0,66589,2016-03-28 08:46:21
267800,2016-04-03 09:01:15,Mercedes_benz_clk_320_w209,Privat,Angebot,4699,Test,Coupe,2003,Automatik,218,Clk,125000,6,Benzin,Mercedes_benz,Ja,2016-04-03,0,75196,2016-04-07 09:44:54
337834,2016-03-18 18:46:15,Volkswagen_passat_variant_1.9_tdi_highline,Privat,Angebot,1999,Control,Kombi,2001,Manuell,131,Passat,150000,7,Diesel,Volkswagen,Nein,2016-03-18,0,36391,2016-03-18 18:46:15

In [62]:
df=df.drop_duplicates(keep="first")

In [63]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,Privat,Angebot,480,Test,Limousine,1993,Manuell,0,Golf,150000,3,Benzin,Volkswagen,Nein,2016-03-24,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_sportback_2.7_tdi,Privat,Angebot,18300,Test,Coupe,2011,Manuell,190,A4,125000,5,Diesel,Audi,Ja,2016-03-24,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_grand_cherokee_""overland""",Privat,Angebot,9800,Test,Suv,2004,Automatik,163,Grand,125000,8,Diesel,Jeep,Nein,2016-03-14,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,Golf_4_1_4__3tÃ¼rer,Privat,Angebot,1500,Test,Kleinwagen,2001,Manuell,75,Golf,150000,6,Benzin,Volkswagen,Nein,2016-03-17,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_fabia_1.4_tdi_pd_classic,Privat,Angebot,3600,Test,Kleinwagen,2008,Manuell,69,Fabia,90000,7,Diesel,Skoda,Nein,2016-03-31,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367541,2016-03-21 09:50:58,Mitsubishi_cold,Privat,Angebot,0,Control,Limousine,2005,Manuell,0,Colt,150000,7,Benzin,Mitsubishi,Ja,2016-03-21,0,2694,2016-03-21 10:42:49
367542,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,Privat,Angebot,1199,Test,Cabrio,2000,Automatik,101,Fortwo,125000,3,Benzin,Smart,Nein,2016-03-05,0,26135,2016-03-11 18:17:12
367543,2016-03-19 18:57:12,Volkswagen_multivan_t4_tdi_7dc_uy2,Privat,Angebot,9200,Test,Bus,1996,Manuell,102,Transporter,150000,3,Diesel,Volkswagen,Nein,2016-03-19,0,87439,2016-04-07 07:15:26
367544,2016-03-20 19:41:08,Vw_golf_kombi_1_9l_tdi,Privat,Angebot,3400,Test,Kombi,2002,Manuell,100,Golf,150000,6,Diesel,Volkswagen,Nein,2016-03-20,0,40764,2016-03-24 12:45:21
367545,2016-03-07 19:39:19,Bmw_m135i_vollausgestattet_np_52.720____euro,Privat,Angebot,28990,Control,Limousine,2013,Manuell,320,M_reihe,50000,8,Benzin,Bmw,Nein,2016-03-07,0,73326,2016-03-22 03:17:10

In [64]:
df=df.reset_index()

In [65]:
df

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,Privat,Angebot,480,Test,Limousine,1993,Manuell,...,Golf,150000,3,Benzin,Volkswagen,Nein,2016-03-24,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_sportback_2.7_tdi,Privat,Angebot,18300,Test,Coupe,2011,Manuell,...,A4,125000,5,Diesel,Audi,Ja,2016-03-24,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_grand_cherokee_""overland""",Privat,Angebot,9800,Test,Suv,2004,Automatik,...,Grand,125000,8,Diesel,Jeep,Nein,2016-03-14,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,Golf_4_1_4__3tÃ¼rer,Privat,Angebot,1500,Test,Kleinwagen,2001,Manuell,...,Golf,150000,6,Benzin,Volkswagen,Nein,2016-03-17,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_fabia_1.4_tdi_pd_classic,Privat,Angebot,3600,Test,Kleinwagen,2008,Manuell,...,Fabia,90000,7,Diesel,Skoda,Nein,2016-03-31,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367537,367541,2016-03-21 09:50:58,Mitsubishi_cold,Privat,Angebot,0,Control,Limousine,2005,Manuell,...,Colt,150000,7,Benzin,Mitsubishi,Ja,2016-03-21,0,2694,2016-03-21 10:42:49
367538,367542,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,Privat,Angebot,1199,Test,Cabrio,2000,Automatik,...,Fortwo,125000,3,Benzin,Smart,Nein,2016-03-05,0,26135,2016-03-11 18:17:12
367539,367543,2016-03-19 18:57:12,Volkswagen_multivan_t4_tdi_7dc_uy2,Privat,Angebot,9200,Test,Bus,1996,Manuell,...,Transporter,150000,3,Diesel,Volkswagen,Nein,2016-03-19,0,87439,2016-04-07 07:15:26
367540,367544,2016-03-20 19:41:08,Vw_golf_kombi_1_9l_tdi,Privat,Angebot,3400,Test,Kombi,2002,Manuell,...,Golf,150000,6,Diesel,Volkswagen,Nein,2016-03-20,0,40764,2016-03-24 12:45:21
367541,367545,2016-03-07 19:39:19,Bmw_m135i_vollausgestattet_np_52.720____euro,Privat,Angebot,28990,Control,Limousine,2013,Manuell,...,M_reihe,50000,8,Benzin,Bmw,Nein,2016-03-07,0,73326,2016-03-22 03:17:10

In [66]:
df.drop(["index"],axis=1,inplace=True)

In [67]:
df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,Privat,Angebot,480,Test,Limousine,1993,Manuell,0,Golf,150000,3,Benzin,Volkswagen,Nein,2016-03-24,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_sportback_2.7_tdi,Privat,Angebot,18300,Test,Coupe,2011,Manuell,190,A4,125000,5,Diesel,Audi,Ja,2016-03-24,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_grand_cherokee_""overland""",Privat,Angebot,9800,Test,Suv,2004,Automatik,163,Grand,125000,8,Diesel,Jeep,Nein,2016-03-14,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,Golf_4_1_4__3tÃ¼rer,Privat,Angebot,1500,Test,Kleinwagen,2001,Manuell,75,Golf,150000,6,Benzin,Volkswagen,Nein,2016-03-17,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_fabia_1.4_tdi_pd_classic,Privat,Angebot,3600,Test,Kleinwagen,2008,Manuell,69,Fabia,90000,7,Diesel,Skoda,Nein,2016-03-31,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367537,2016-03-21 09:50:58,Mitsubishi_cold,Privat,Angebot,0,Control,Limousine,2005,Manuell,0,Colt,150000,7,Benzin,Mitsubishi,Ja,2016-03-21,0,2694,2016-03-21 10:42:49
367538,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,Privat,Angebot,1199,Test,Cabrio,2000,Automatik,101,Fortwo,125000,3,Benzin,Smart,Nein,2016-03-05,0,26135,2016-03-11 18:17:12
367539,2016-03-19 18:57:12,Volkswagen_multivan_t4_tdi_7dc_uy2,Privat,Angebot,9200,Test,Bus,1996,Manuell,102,Transporter,150000,3,Diesel,Volkswagen,Nein,2016-03-19,0,87439,2016-04-07 07:15:26
367540,2016-03-20 19:41:08,Vw_golf_kombi_1_9l_tdi,Privat,Angebot,3400,Test,Kombi,2002,Manuell,100,Golf,150000,6,Diesel,Volkswagen,Nein,2016-03-20,0,40764,2016-03-24 12:45:21
367541,2016-03-07 19:39:19,Bmw_m135i_vollausgestattet_np_52.720____euro,Privat,Angebot,28990,Control,Limousine,2013,Manuell,320,M_reihe,50000,8,Benzin,Bmw,Nein,2016-03-07,0,73326,2016-03-22 03:17:10

In [68]:
df.to_csv('after_cleaning_autos_file.csv', index=False)

In [ ]:
df